.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.status{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.Iconw{
    width: 5vw;
}
@media (max-width:768px) {
    .Iconw{
        width: 20vw;
    }
}
.resultp{
    width: 70%;
    padding: 20px;
    font-size: small; 
    margin-top: 0px;
    padding-top: 5px;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 20px;
}

.divider{
    margin-bottom: 0px;
    width: 100vw;
    height: 2px;
    background-color: var(--dividerColor);
}